<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h2 class="modal-title">RELEASE STOCK</h2>
  <form>
    <div class="form-group">
      <label for="room">RoomNumber:</label>
      <input type="number" [(ngModel)]="RoomNumber" name="room" required />
    </div>
    <div class="form-actions">
      <button type="button" (click)="closeModal()" class="btn btn-cancel">
        Cancel
      </button>

      <button type="submit" (click)="submitForm()" class="btn btn-save">
        Save
      </button>
    </div>
  </form>
</div>
