<div>
  <!-- QR Floating Button -->
  <div
    class="qr-floating-button fixed bottom-6 right-6 w-16 h-16 bg-[#42bd16] text-white rounded-full flex items-center justify-center cursor-pointer shadow-2xl drop-shadow-lg text-3xl transform transition-transform duration-300 hover:scale-105 hover:bg-[#4d983f]"
    (click)="openQrScanner()"
  >
    <i class="fas fa-camera"></i>
  </div>

  <!-- QR Scanner Modal -->
  <div
    id="modal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    *ngIf="showModal"
  >
    <div class="bg-white p-6 rounded-lg">
      <app-qrcode (closeModal)="closeQrScanner()"></app-qrcode>
    </div>
  </div>
</div>
