<div class="foodandhydration-dashboard mt-12 ml-20 mr-5">
  <table
    class="min-w-full bg-white shadow-lg rounded-lg overflow-hidden border border-gray-300"
  >
    <thead>
      <tr>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Room Number
        </th>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Stock Type
        </th>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Week
        </th>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Stage
        </th>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Scoops
        </th>
        <th
          class="px-8 py-4 bg-green-600 text-white text-2xl font-bold text-center border-b border-gray-300"
        >
          Bottles
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms" class="hover:bg-gray-100">
        <td
          class="RoomNumber px-8 py-4 text-red-600 font-extrabold text-2xl text-center border-b border-r border-gray-300"
        >
          {{ room.RoomNumber }}
        </td>
        <td
          class="px-8 py-4 text-2xl text-center border-b border-r border-gray-300"
        >
          {{ room.StockType || "-" }}
        </td>
        <td
          class="px-8 py-4 text-2xl text-center border-b border-r border-gray-300"
        >
          {{ room.Week || "-" }}
        </td>
        <td
          class="px-8 py-4 text-2xl font-bold text-center border-b border-r border-gray-300"
          [ngClass]="{
            'bg-yellow-100 text-yellow-700': room.Stage === 'Large',
            'bg-green-100 text-green-700': room.Stage === 'Medium',
            'bg-red-100 text-red-700': room.Stage === 'Small',
            'bg-blue-200 text-blue-900': room.Stage === 'Extra Small',
            'bg-purple-100 text-purple-700': room.Stage === 'Babies',
            'bg-blue-100 text-blue-700': room.Stage === 'Breeders'
          }"
        >
          {{ room.Stage || "-" }}
        </td>
        <td
          class="px-8 py-4 text-2xl text-center border-b border-r border-gray-300"
        >
          {{ room.Scoops || "-" }}
        </td>
        <td
          class="px-8 py-4 text-2xl text-center border-b border-r border-gray-300"
        >
          {{ room.Bottles || "-" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-qr-floating-button></app-qr-floating-button>
