<div
  class="sidebar fixed top-0 left-0 h-full w-16 bg-[#42bd16] text-white shadow-md flex flex-col"
>
  <div
    class="sidebar-header py-4 bg-[#3f7b34] flex justify-center items-center"
  >
    <img src="path/to/logo.png" alt="Logo" class="logo h-12" />
  </div>
  <nav class="flex flex-col items-center mt-4">
    <a
      routerLink="/dashboard"
      class="sidebar-link flex flex-col items-center py-3 w-full text-sm font-medium hover:bg-[#3f7b34] transition-colors rounded-lg"
    >
      <i class="fas fa-tachometer-alt text-xl mb-1"></i>
      <span class="hidden md:inline">Rooms</span>
    </a>
    <a
      routerLink="/fyh"
      class="sidebar-link flex flex-col items-center py-3 w-full text-sm font-medium hover:bg-[#3f7b34] transition-colors rounded-lg"
    >
      <i class="fas fa-bug text-xl mb-1"></i>
      <span class="hidden md:inline">F & H</span>
    </a>
  </nav>
</div>
<div class="content ml-[16rem] p-5">
  <ng-content></ng-content>
</div>
