<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <h2 class="modal-title">ADD STOCK</h2>
  <form>
    <div class="form-group">
      <label for="room">RoomNumber:</label>
      <select id="room" [(ngModel)]="RoomNumber" name="room" required>
        <option *ngFor="let room of availableRooms" [value]="room">
          {{ room }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="week">Week:</label>
      <input type="number" id="week" [(ngModel)]="Week" name="week" required />
    </div>
    <div class="form-group">
      <label for="FoodType">FoodType:</label>
      <input
        type="text"
        id="FoodType"
        [(ngModel)]="FoodType"
        name="FoodType"
        required
      />
    </div>

    <div class="form-group">
      <label for="WaterType">WaterType:</label>
      <input
        type="text"
        id="WaterType"
        [(ngModel)]="WaterType"
        name="WaterType"
        required
      />
    </div>
    <div class="form-group">
      <label for="Stock">Stock:</label>
      <input
        type="number"
        id="Stock"
        [(ngModel)]="Stock"
        name="Stock"
        required
      />
    </div>
    <div class="form-group">
      <label for="Tubs">Tubs:</label>
      <input type="number" id="Tubs" [(ngModel)]="Tubs" name="Tubs" required />
    </div>
    <div class="form-group">
      <label for="Date">Date:</label>
      <input type="text" id="Date" [(ngModel)]="Date" name="Date" required />
    </div>
    <div class="form-actions">
      <button type="button" (click)="closeModal()" class="btn btn-cancel">
        Cancel
      </button>

      <button type="submit" (click)="submitForm()" class="btn btn-save">
        Save
      </button>
    </div>
  </form>
</div>
