<div
  class="dashboard grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 gap-6 mt-8 mx-4 sm:mx-6 lg:ml-20"
>
  <!-- Container for each room's information -->
  <div
    class="room bg-white rounded-lg shadow-md p-4 flex flex-col border border-gray-200"
    *ngFor="let room of rooms"
  >
    <!-- Displays the Room Number -->
    <div
      class="flex justify-between items-center border-b border-gray-300 pb-2 mb-2"
    >
      <div class="text-base sm:text-lg font-semibold text-gray-700">Room:</div>
      <div class="text-xl sm:text-2xl font-bold text-red-600">
        {{ room.RoomNumber }}
      </div>
    </div>

    <!-- Displays the Week and Stage, centered -->
    <div class="flex flex-col items-center border-b border-gray-300 pb-2 mb-2">
      <div class="flex w-full items-center">
        <div
          class="text-sm sm:text-base font-medium text-gray-600 w-1/2 text-center"
        >
          Week:
        </div>
        <div class="border-l border-gray-300 h-6 mx-2"></div>
        <div class="text-lg sm:text-xl text-gray-800 w-1/2 text-center">
          {{ room.Week }}
        </div>
      </div>

      <div class="flex w-full items-center mt-2">
        <div
          class="text-sm sm:text-base font-medium text-gray-600 w-1/2 text-center"
        >
          Stage:
        </div>
        <div class="border-l border-gray-300 h-6 mx-2"></div>
        <!-- Stage is color-coded based on its value -->
        <div
          class="text-xs sm:text-sm py-1 sm:py-2 px-2 sm:px-3 rounded-full font-medium w-1/2 text-center border-b border-r"
          [ngClass]="{
            'bg-yellow-100 text-yellow-700': room.Stage === 'Large',
            'bg-green-100 text-green-700': room.Stage === 'Medium',
            'bg-red-100 text-red-700': room.Stage === 'Small',
            'bg-blue-200 text-blue-900': room.Stage === 'Extra Small',
            'bg-purple-100 text-purple-700': room.Stage === 'Babies',
            'bg-blue-100 text-blue-700': room.Stage === 'Breeders'
          }"
        >
          {{ room.Stage || "_" }}
        </div>
      </div>
    </div>

    <!-- Displays the Quantity of Tubs -->
    <div class="flex justify-between items-center">
      <div class="text-sm sm:text-base font-medium text-gray-600">
        Quantity:
      </div>
      <div class="text-lg sm:text-xl font-semibold text-gray-800">
        {{ room.Tubs }}
      </div>
    </div>

    <!-- Floating button component -->
    <app-floating-button></app-floating-button>
  </div>
</div>
