<div class="dashboard">
  <div class="room" *ngFor="let room of rooms">
    <div class="room-main-title">Room:</div>
    <div class="room-main-info">{{ room.RoomNumber }}</div>

    <div class="room-title">Week:</div>
    <div class="room-info">{{ room.Week }}</div>

    <div class="room-title">FoodType:</div>
    <div class="room-stage-info">{{ room.FoodType }}</div>

    <div class="room-title">Stock:</div>
    <div class="room-info">{{ room.Stock }}</div>

    <div class="room-title">Tubs:</div>
    <div class="room-info">{{ room.Tubs }}</div>

    <div class="room-title">WaterType:</div>
    <div class="room-info">{{ room.WaterType }}</div>

    <div class="room-title">Date:</div>
    <div class="room-info">{{ room.Date }}</div>
  </div>
</div>
